title= $title
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes')
meta(name='format-detection' content='telephone=no')
meta(name='description', content=$meta.description)
meta(name="Keywords" content=$meta.keywords)

link(rel='icon' href='/icon/favicon.ico')
link(rel='apple-touch-icon' href='/icon/icon.png')
link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap" rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet")

//- ogp
meta(property='og:type' content='website')
meta(property='og:url' content=$meta.og.url)
meta(property='og:title', content=$meta.og.title)
meta(property='og:description', content=$meta.og.description)
meta(property='og:image', content=$meta.og.image)
meta(property='og:site_name', content=$meta.og.site_name)

link(rel='stylesheet', type='text/css', href='https://kow-ystk.github.io/201002_quiz-app/assets/css/common.css')
