@use '../_foundation/mixin' as mixin;

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 80px 0 0;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #212121;
  text-align: center;
  background: transparent;

  @include mixin.mq(tablet) {
    padding: mixin.get_vw(80, 1280) 0 0;
    font-size: mixin.get_vw(24, 1280);
  }

  @include mixin.mq() {
    padding: mixin.get_vw(80) 0 0;
    font-size: mixin.get_vw(24);
  }
}

.quiz__wrapper {
  padding: 20px 0;
  margin: 0 auto;

  @include mixin.mq(tablet) {
    padding: mixin.get_vw(20, 1280);
  }

  @include mixin.mq() {
    padding: mixin.get_vw(20);
  }
}

.quizQuestion,
.quizAnswer,
.quizEnd__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 140px;
  padding: 12px 0;
  margin: 0 auto;
  background: #b3e5e8;
  border-radius: 5px;

  @include mixin.mq(tablet) {
    width: 50vw;
    height: auto;
    padding: mixin.get_vw(12, 1280);
    border-radius: mixin.get_vw(5, 1280);
  }

  @include mixin.mq() {
    width: 90vw;
    height: auto;
    padding: mixin.get_vw(12);
    border-radius: mixin.get_vw(5);
  }
}
.quizContents,
.quizImage {
  width: 45%;

  @include mixin.mq(){
    width: 90vw;
    margin: 0 auto;
  }
}

.quizContents {
  height: 324px;
  padding: 12px;
  background-color: #B3E5FC;
  border-radius: 12px;

  @include mixin.mq(tablet) {
    height: mixin.get_vw(324, 1280);
    padding: mixin.get_vw(12, 1280);
    margin: 0 auto;
    border-radius: mixin.get_vw(12, 1280);
  }

  @include mixin.mq(){
    height: auto;
    padding: mixin.get_vw(12);
    border-radius: mixin.get_vw(12);
  }
}

.quizContents__choices,
.quiz__retryBtn {
  width: 100%;
  height: 64px;
  font-family: 'Kosugi Maru', sans-serif;

  @include mixin.mq(tablet) {
    height: mixin.get_vw(64, 1280);
  }

  @include mixin.mq() {
    height: mixin.get_vw(64);
  }
}

.quizNext,
.quiz__retryBtn {
  @include mixin.mq(tablet) {
    width: 50vw;
  }

  @include mixin.mq() {
    width: 80vw;
  }
}

.quizStart__startBtn,
.quiz__retryBtn,
.quizContents__choices,
.quizNext {
  display: block;
  padding: 12px 16px;
  font-size: 2.4rem;
  color: #212121;
  background-color: #00BCD4;
  border: none;
  border-bottom: 4px solid #0096aa;
  border-radius: 8px;
  outline-style: none;

  @include mixin.mq(tablet) {
    padding: mixin.get_vw(12, 1280) mixin.get_vw(16, 1280);
    font-size: mixin.get_vw(24, 1280);
    border-bottom: mixin.get_vw(4, 1280) solid #0096aa;
    border-radius: mixin.get_vw(8, 1280);
  }

  @include mixin.mq() {
    padding: mixin.get_vw(12) mixin.get_vw(16);
    font-size: mixin.get_vw(24);
    border-bottom: mixin.get_vw(4) solid #0096aa;
    border-radius: mixin.get_vw(8);
  }
}

.quizStart__startBtn {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 5.4rem;

  @include mixin.mq(tablet) {
    font-size: mixin.get_vw(54, 1280);
  }

  @include mixin.mq() {
    font-size: mixin.get_vw(54);
  }
}

.quizContents__choices:not(:first-of-type),
.quizNext,
.quiz__retryBtn {
  margin: 16px auto 0;

  @include mixin.mq(tablet) {
    margin: mixin.get_vw(16, 1280) auto 0;
  }

  @include mixin.mq() {
    margin: mixin.get_vw(16) auto 0;
  }
}

.quizStart {
  width: 100vw;
  height: calc(100vh - 80px);
}

.quizContents__choices--correct,
.quizContents__choices--incorrect {
  pointer-events: none;
}

.quizContents__choices--correct {
  font-weight: bold;
}

.quizContents__choices--incorrect {
  text-decoration: line-through;
  background: #0096aa;
}

.quizImage {
  display: block;
  padding: 20px 0;

  @include mixin.mq(tablet) {
    width: 50%;
    margin: 0 auto;
  }
}

.quizImage__capitalImg {
  display: block;
  width: 100%;
  box-shadow: 0 5px 5px 5px rgba($color: #000, $alpha: 0.25);
}

.quiz__start,
.quiz__wrapper,
.quiz__end,
.quizNext {
  display: none;
}

.quiz__start--active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__wrapper--active,
.quiz__end--active,
.quizNext--active {
  display: block;
}

.quiz__end {
  padding: 36px 0 0;

  @include mixin.mq(tablet) {
    padding: mixin.get_vw(36, 1280) 0 0;
  }

  @include mixin.mq() {
    padding: mixin.get_vw(36) 0 0;
  }
}

.quizStart__startBtn:hover,
.quiz__retryBtn:hover,
.quizContents__choices:hover,
.quizNext:hover {
  position: relative;
  top: 4px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
}
