@use '../_foundation/mixin' as mixin;

.header {
  position: fixed;
  width: 100%;
  color: #fafafa;
  background: -moz-linear-gradient(bottom left,#0288d1, #b3e5fc);
  background: -webkit-linear-gradient(bottom left,#0288d1, #b3e5fc);
  background: linear-gradient(to top right,#0288d1, #b3e5fc);

  @include mixin.mq(tablet) {
    height: mixin.get_vw(80, 1280);
  }

  @include mixin.mq() {
    display: block;
    height: mixin.get_vw(80) 0;
  }

  &__inner {
    @include mixin.sectionWidth();

    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    @include mixin.mq(tablet) {
      padding: mixin.get_vw(16, 1280);
    }

    @include mixin.mq() {
      display: block;
      padding: mixin.get_vw(16) 0;
    }
  }
}

.headerLogo {
  width: 100%;
  padding: 8px 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #ADD16B;
  border-bottom: 2px solid #ADD16B;

  @include mixin.mq(tablet) {
    padding: mixin.get_vw(8, 1280);
    font-size: mixin.get_vw(32, 1280);
  }

  @include mixin.mq() {
    padding: mixin.get_vw(8);
    font-size: mixin.get_vw(32);
    text-align: center;
  }
}

.headerMenu {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-weight: bold;

    @include mixin.mq(tablet) {
      width: mixin.get_vw(400, 1280);
    }

    @include mixin.mq() {
      display: none;
      width: mixin.get_vw(200);
    }
  }
}
