doctype html
html(lang='ja')
  head
    block variable
      -
        $title = '北欧 首都当てクイズ'
        $meta = {
          'description':'北欧の首都当てるクイズ',
          'keywords':'',
          'og': {
            'title':'北欧 首都当てクイズ',
            'description':'北欧の首都当てるクイズ',
            'url':'',
            'image':'',
            'site_name':'北欧 首都当てクイズ'
          }
        }

    block head
      include _modules/_head.pug

  body
    block header
      include _modules/_header.pug

    main.quiz
      //- クイズ開始前のみ表示
      include _section/_beforeQuiz.pug
      //- クイズ中のみ表示
      include _section/_quiz.pug
      //- クイズ終了後のみ表示
      include _section/_afterQuiz.pug

    include _modules/_script.pug
