@use '../_foundation/mixin' as mixin;

.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16px 0;
  padding-top: 80px;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #212121;
  text-align: center;
  background: #03A9F4;
}

.quiz__wrapper {
  margin: 0 auto;
  background-color: #03a9f4;
}

.quizQuestion,
.quizAnswer,
.quizEnd__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 140px;
  margin: 0 auto;
  background: #b3e5e8;
  border-radius: 5px;
}
.quizContents,
.quizImage {
  width: 45%;
  @include mixin.mq(){
    margin: 0 auto;
  }
}

.quizContents {
  height: 324px;
  padding: 10px;
  background-color: #B3E5FC;
  border-radius: 5%;
}

.quizStart,
.quiz__end {
  padding: 20px 0;
}

.quizContents__choices {
  width: 100%;
  height: 64px;
}

.quizStart__startBtn,
.quiz__retryBtn,
.quizContents__choices {
  display: block;
  padding: 12px 16px;
  margin: 10px auto 0;
  font-size: 2.4rem;
  color: #212121;
  background-color: #00BCD4;
  border: none;
  border-bottom: 4px solid #0096aa;
  border-radius: 8px;
  outline-style: none;
}

.quizStart__startBtn:hover,
.quiz__retryBtn:hover,
.quizContents__choices:hover {
  position: relative;
  top: 4px;
  border: none;
  opacity: 0.7;
}

.quizContents__choices--correct,
.quizContents__choices--incorrect {
  pointer-events: none;
}

.quizContents__choices--correct {
  font-weight: bold;
}

.quizContents__choices--incorrect {
  text-decoration: line-through;
  background: #0096aa;
}

.quizImage {
  display: block;
  padding: 20px 0;
}

.quizImage__capitalImg {
  display: block;
  width: 100%;
  box-shadow: 0 5px 5px 5px rgba($color: #000, $alpha: 0.25);
}

.quiz__start,
.quiz__wrapper,
.quiz__end {
  display: none;
}

.quiz__start--active,
.quiz__wrapper--active,
.quiz__end--active {
  display: block;
}

